<% provide(:title, "Edit user") %>
<br><h1>Update your profile</h1><br><br>

<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= form_for(@user) do |f| %>
            
            <%= render 'shared/error_messages' %>

            <div class="my-blue" ><%= f.label :name %>
            <%= f.text_field :name, class: "form-control my-blue" %>
            <br>
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control my-blue" %>
            <br>
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: "Password", class: "form-control my-blue" %>
            <br>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control my-blue" %>
            <br><br></div>
            
            <div class="row">
                <div class="col-md-4">
                    <%= gravatar_for @user %>
                    <a href="http://gravatar.com/emails">change</a>
                </div>
            </div><br><br><br>
      
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <%= f.submit "Save changes", class: "btn btn-default btn-lg btn-block" %>
                </div>
                <div class="col-md-3"></div>
            </div>

        <% end %>
        <br><br>
    </div>
    <div class="col-md-3"></div>  
</div>