<% provide(:title, @user.name) %>
<div class="text-left hero-unit">
<div class="row">
  <aside class="span10">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if online?(@user.lastSeen) %>
        	<%= image_tag("online-sign.png", :size => "20x20") %>
        <% else  %>
        	<%= image_tag("offline-sign.png", :size => "20x20") %>
        <% end %>
      </h1>
    </section>
  </aside><br><br><br>

  <aside class="span5">
  	<h2 class="text-left">Profile summary</h2>
  	<!-- Profile summary table begin-->
    <table class="table table-hover">
      <tr>
		<td>TotalGames</td>
		<td><%= @user.totalGames %></td>
	  </tr>
	  <tr>
		<td>Win</td>
		<td><%= @user.wins %></td>
	  </tr>
	  <tr>
		<td>Lost</td>
		<td><%= @user.lost %></td>
	  </tr>
	  <tr>
		<td>Draw</td>
		<td><%= @user.draws %></td>
	  </tr>
	  <tr>
		<td>Points</td>
		<td><%= @user.points %></td>
	  </tr>
	  <tr>
		<td>Level</td>
		<td><%= @user.level %></td>
	  </tr>
	</table>
	<!-- Profile summary table end-->
  </aside>
</div>
</div>