<style>
</style>
<% provide(:title, 'Top users') %><br>
<h1>Top 10 players</h1><br><br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-hover">
      <tr>
        <td><h4>#</h4></td>
        <td><h4>User name</h4></td>
        <td><h4>Proficiency</h4></td>
        <td><h4>Score</h4></td>
      </tr>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <%= image_tag user.avatar.url, size: "50x50" %>
      	    <%= link_to user.name, user %></td>
          <td><%= user.level %></td>
          <td><%= user.points %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-2"></div>
</div><br><br>